//- continuing the base.pug
extends base.pug  

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleAbout.css

block content
    div.container
        div.innerContainer
            p "Welcome to MJ dance academy, where passion, rhythm, and expression come together in harmony. Founded with the love for dance, our studio is a hub for all dance enthusiasts, from beginners taking their first steps to experienced dancers seeking to refine their craft. Our journey began with a commitment to share the joy of dance and foster a community of like-minded individuals. With a team of dedicated instructors and a wide range of dance styles, we aim to provide a space where creativity, confidence, and camaraderie flourish. Whether you're looking to groove to the latest beats or delve into classical forms. MJ dance academy is your place to discover, learn, and shine."Feel free to customize this paragraph to better fit your specific dance studio and its unique characteristics.